/*main-container*/

.main-container {
    background-color: #333;
    background-size: cover;
    color: #fff;
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    display: table;
    width: 100vw;
    height: 100vh;
}

.main-container-text {
    padding-top: 45vh;
    color: #fff;
}

/*sub-container*/

.sub-container {
    padding-top: 8vh;
    width: 100vw;
    height: 100vh;
}

/*contact-container*/

.contact-container {
    width: 100vw;
    height: 20vh;
}

.contacts {
    list-style-type: none;
    text-align: center;
    padding-left: 33.5vw;
}

.contacts > li {
    text-decoration: none;
    float: left;
    width: 115px;
    height: 115px;
    border-radius: 115px;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
    transform: translateY(0px);
    transition: 0.3s;
}

.contacts > li:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.contacts > li:active {
    transform: translateY(-10px);
    background: rgba(51, 51, 51, 0.801);
    transform: 0.1s;
}

.contact-pic {
    padding-top: 10%;
    color: #fff;
}

.contact-text {
    color: #fff;
}

/*other*/

.text-block-center {
    text-align: center;
}
.no-select-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}