.navbar-brand {
    transform: scale(1);
    transition: 0.25s;
}
.navbar-brand:hover {
    transform: scale(1.025);
    transition: 0.25s;
}
.nav-item {
    transform: scale(1);
    transition: 0.25s;
}
.nav-item:hover {
    transform: scale(1.025);
    transition: 0.25s;
}
.navbar {
    font-size: 2vh;
    background-color: #333;
}